/AbsFunk.hi
/AbsFunk.hs
/AbsFunk.o
/DocFunk.aux
/DocFunk.dvi
/DocFunk.log
/DocFunk.ps
/DocFunk.tex
/ErrM.hi
/ErrM.hs
/ErrM.o
/LexFunk.hi
/LexFunk.hs
/LexFunk.o
/LexFunk.x
/Makefile
/ParFunk.hi
/ParFunk.hs
/ParFunk.o
/ParFunk.y
/PrintFunk.hi
/PrintFunk.hs
/PrintFunk.o
/SkelFunk.hi
/SkelFunk.hs
/SkelFunk.o
/.tester.py.swp
/TestFunk
/TestFunk.hi
/TestFunk.hs
/TestFunk.o
/AbsFunk.hs.bak
/DocFunk.tex.bak
/ErrM.hs.bak
/.Interpreter.hs.swp
/LexFunk.x.bak
/Makefile.bak
/ParFunk.y.bak
/PrintFunk.hs.bak
/.runtest.py.swp
/SkelFunk.hs.bak
/TestFunk.hs.bak
